/*  */
.roscode {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	border: 1px solid #eaeaea;
	color: #000;
	line-height: 1.2;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	padding: 3px 5px;
	font-size: 0.9em;
}
.roscode .color-menu {
	color: rgb(0,155,155);
}
.roscode .color-action {
	color: rgb(155,0,155);
}
.roscode .color-param {
	color: rgb(0,155,0);
}
.roscode .color-symbol {
	color: rgb(155,155,0);
}
.roscode .color-comment {
	color: rgb(155,155,155);
	background-color: rgb(0,0,155);
}
.roscode .color-escape {
	color: rgb(0,0,155);
}
.roscode .color-variables {
	color: rgb(0,155,0);
	font-weight: bold;
}